*{margin: 0; padding: 0;}
body{font-family: 'NanumSquareRound'; font-size: 20px; line-height: 25px; color: #5d423b;}

/* 브랜드소개 */
#brandaki{background-color: rgba(255, 208, 205, 0.3); height: 1000px;}
.brandaki_inner{width: 1320px; margin: auto; text-align: center;  text-transform: uppercase;}
.nav{float: right; font-size: 18px; font-weight: bold; padding: 40px;}
.navpoint{color: #f26b5e;}
.brandaki_inner h1{font-size: 50px; line-height: 50px; padding-top: 120px; font-family: 'CookieRunOTF-Bold'; text-shadow: rgba(93, 66, 59, 0.2) 4px 2px;}
.brandimg{display: inline-block; border-radius: 200px; padding: 40px 0;}
.brandaki_inner h2{font-size: 25px; padding-bottom: 20px;}
.info{font-size: 22px; line-height: 30px;}
/* 로고소개 */
#aki_logo{width: 1320px; margin: auto; height: 1200px; text-align: center;}
#aki_logo h1{font-size: 50px; line-height: 50px; padding-top: 80px; font-family: 'CookieRunOTF-Bold'; text-shadow: rgba(93, 66, 59, 0.2) 4px 2px;}
#aki_logo> p{padding: 30px 0;}
.wrap{width: 1100px; margin: auto; position: relative;}
.wrap_logoimg{width: 1100px; height: 700px; overflow: hidden; border-radius: 50px;}
.wrap_logoimg div{float: left; width: 550px; height: 350px; box-sizing: border-box;}
.wrap_logoimg img{display: inline-block;}
.logobox1{background: url(../images/sub1_logo1_bg.png) no-repeat; padding: 42.5px 0;}
.logobox2{background-color: #eabd6d; padding: 42.5px 0;}
.logobox3{background-color: #5d423b; padding: 105px 0;}
.logobox4{background-color: #f26b5e; padding: 105px 0;}
.wrap_logoimg .logoimg_hover{width: 1100px; height: 700px; text-align: center; font-family: 'CookieRun-Regular'; position: absolute; top: 0; background-color: rgba(255, 255, 255, 0.5); border-radius: 50px; opacity: 0; transition: all 0.8s;}
.logoimg_hover p{font-size: 40px; color: #f26b5e; line-height: 40px; padding: 295px 0 30px;}
.logoimg_hover a{display: inline-block; width: 260px; height: 60px; font-size: 30px; color: #fcfcee; background-color: #f26b5e; line-height: 30px; border-radius: 30px; padding: 15px 0; box-sizing: border-box;}
.wrap_logoimg:hover .logoimg_hover{opacity: 1;}
.logoimg_hover a:hover{background-color: #fcfcee; color: #f26b5e;}

/* 로고팝업 */
.logopopup{width: 1100px; height: 900px; border-radius: 50px; border: 1px solid #f26b5e; overflow: hidden; position: absolute; top: 0; display: none;}
.logoinfo{display: block;}
.close{display: inline-block; position: absolute; top: 30px; right: 30px; opacity: 0.8;}
.close:hover{opacity: 1;}

/* 아키의 약속 */
#aki_contents{background-color: #fcfcee; height: 1500px; overflow: hidden;}
.akicon_inner{width: 1260px; margin: auto; box-sizing: border-box;}
.akicon_inner h1{font-size: 50px; line-height: 50px; padding: 80px 0 50px; font-family: 'CookieRunOTF-Bold'; text-shadow: rgba(93, 66, 59, 0.2) 4px 2px; text-align: center;}
.akicon_inner h2{color: #f26b5e; font-size: 24px;}
.akicon_inner h3{font-size: 35px; line-height: 35px; text-transform: uppercase; padding: 20px 0 30px;}
.akicon_inner p{font-size: 20px; line-height: 30px;}
.akicon_inner div{overflow: hidden; border: #f26b5e 2px dashed; box-sizing: border-box; float: left;}
.con1{width: 1260px; height: 352px; background: url(../images/contents_1.png) no-repeat 551px; padding: 75px 0 75px 60px; border-radius: 100px 20px 20px 20px; margin-bottom: 60px;}
.con2{width: 402px; height: 780px; border-radius: 20px 80px; background: url(../images/contents_2.png) no-repeat -1px 364px; padding: 50px; margin-right: 58px;}
.con3{width: 800px; height: 382px; background: url(../images/contents_3.png) no-repeat -1px; border-radius: 20px 100px; padding: 90px 45px 90px 430px; margin-bottom: 56px;}
.con4{width: 800px; height: 340px; background: url(../images/contents_4.png) no-repeat 367px; border-radius: 20px  20px 100px 20px; padding: 53px 27px;}